<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%15.15t] %-20.20logger{19} : %msg%n%ex{5}</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别为TRACE -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 可选：为特定包设置日志级别 -->
    <logger name="top.meethigher.proxy.http.ReverseHttpProxy" level="TRACE"/>
</configuration>